-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: labtim_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Actus`
--

DROP TABLE IF EXISTS `Actus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Actus` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `date` date NOT NULL,
  `category` enum('Conf├®rence','Formation','Laboratoire') NOT NULL,
  `shortDescription` varchar(500) NOT NULL,
  `fullContent` text,
  `userId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `Actus_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Actus`
--

LOCK TABLES `Actus` WRITE;
/*!40000 ALTER TABLE `Actus` DISABLE KEYS */;
/*!40000 ALTER TABLE `Actus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SequelizeMeta`
--

DROP TABLE IF EXISTS `SequelizeMeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SequelizeMeta` (
  `name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SequelizeMeta`
--

LOCK TABLES `SequelizeMeta` WRITE;
/*!40000 ALTER TABLE `SequelizeMeta` DISABLE KEYS */;
INSERT INTO `SequelizeMeta` VALUES ('1.js'),('2.js'),('20250620110811-remove-student-supervisor-ids.js'),('20250625095810-update-presentation-content-for-blocks.js'),('20250704090116-create_hero_table.js'),('20250709105930-add_reset_password_fields_to_users.js');
/*!40000 ALTER TABLE `SequelizeMeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carousel_items`
--

DROP TABLE IF EXISTS `carousel_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carousel_items` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `imageUrl` varchar(255) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `description` text,
  `order` int NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order` (`order`),
  UNIQUE KEY `carousel_items_order_unique` (`order`),
  UNIQUE KEY `order_2` (`order`),
  UNIQUE KEY `order_3` (`order`),
  UNIQUE KEY `order_4` (`order`),
  UNIQUE KEY `order_5` (`order`),
  UNIQUE KEY `order_6` (`order`),
  UNIQUE KEY `order_7` (`order`),
  UNIQUE KEY `order_8` (`order`),
  UNIQUE KEY `order_9` (`order`),
  UNIQUE KEY `order_10` (`order`),
  UNIQUE KEY `order_11` (`order`),
  UNIQUE KEY `order_12` (`order`),
  UNIQUE KEY `order_13` (`order`),
  UNIQUE KEY `order_14` (`order`),
  UNIQUE KEY `order_15` (`order`),
  UNIQUE KEY `order_16` (`order`),
  UNIQUE KEY `order_17` (`order`),
  UNIQUE KEY `order_18` (`order`),
  UNIQUE KEY `order_19` (`order`),
  UNIQUE KEY `order_20` (`order`),
  UNIQUE KEY `order_21` (`order`),
  UNIQUE KEY `order_22` (`order`),
  UNIQUE KEY `order_23` (`order`),
  UNIQUE KEY `order_24` (`order`),
  UNIQUE KEY `order_25` (`order`),
  UNIQUE KEY `order_26` (`order`),
  UNIQUE KEY `order_27` (`order`),
  UNIQUE KEY `order_28` (`order`),
  UNIQUE KEY `order_29` (`order`),
  UNIQUE KEY `order_30` (`order`),
  UNIQUE KEY `order_31` (`order`),
  UNIQUE KEY `order_32` (`order`),
  UNIQUE KEY `order_33` (`order`),
  UNIQUE KEY `order_34` (`order`),
  UNIQUE KEY `order_35` (`order`),
  UNIQUE KEY `order_36` (`order`),
  UNIQUE KEY `order_37` (`order`),
  UNIQUE KEY `order_38` (`order`),
  UNIQUE KEY `order_39` (`order`),
  UNIQUE KEY `order_40` (`order`),
  UNIQUE KEY `order_41` (`order`),
  UNIQUE KEY `order_42` (`order`),
  UNIQUE KEY `order_43` (`order`),
  UNIQUE KEY `order_44` (`order`),
  UNIQUE KEY `order_45` (`order`),
  UNIQUE KEY `order_46` (`order`),
  UNIQUE KEY `order_47` (`order`),
  UNIQUE KEY `order_48` (`order`),
  UNIQUE KEY `order_49` (`order`),
  UNIQUE KEY `order_50` (`order`),
  UNIQUE KEY `order_51` (`order`),
  UNIQUE KEY `order_52` (`order`),
  UNIQUE KEY `order_53` (`order`),
  UNIQUE KEY `order_54` (`order`),
  UNIQUE KEY `order_55` (`order`),
  UNIQUE KEY `order_56` (`order`),
  UNIQUE KEY `order_57` (`order`),
  UNIQUE KEY `order_58` (`order`),
  UNIQUE KEY `order_59` (`order`),
  UNIQUE KEY `order_60` (`order`),
  UNIQUE KEY `order_61` (`order`),
  UNIQUE KEY `order_62` (`order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carousel_items`
--

LOCK TABLES `carousel_items` WRITE;
/*!40000 ALTER TABLE `carousel_items` DISABLE KEYS */;
INSERT INTO `carousel_items` VALUES ('069b5945-ad05-4bae-9a0d-d0dc94e6c305','/app/uploads/carousel_images/audience-citizen_0-1751465797824.jpg','Carousel ITEM 4','Carousel ITEM 1',2,NULL,'2025-07-02 14:16:37','2025-09-10 14:14:20'),('1de7e65e-a1b5-4f20-b51f-f1814b44bf2e','/app/uploads/carousel_images/hero-background-1751618890769.jpg','Carousel ITEM 78','Carousel ITEM 1',3,NULL,'2025-07-02 14:16:24','2025-09-10 14:14:20');
/*!40000 ALTER TABLE `carousel_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `date` date NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `userId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES ('e0f912f6-f40c-42fe-b158-2b6d9b8c1f3c','STIC 2025','8├¿me ├ëcole Sciences et Technologies de l\'Information et de la Communication ','2025-10-29','FMM',NULL,NULL,NULL,'2025-09-11 13:57:03','2025-09-11 13:57:03');
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `heroes`
--

DROP TABLE IF EXISTS `heroes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `heroes` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `description` text,
  `buttonContent` varchar(255) DEFAULT NULL,
  `imageUrl` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `heroes`
--

LOCK TABLES `heroes` WRITE;
/*!40000 ALTER TABLE `heroes` DISABLE KEYS */;
INSERT INTO `heroes` VALUES ('d26cc05e-2c8b-47cb-8440-c2338b92a4f1','LABTIM','Laboratoire de recherche LTIM-LR12ES06 \r\n┬½ Technologie et Imagerie M├®dicale ┬╗','D├®couvrez l\'├®quipe','/app/uploads/hero_images/labtim_lr12es06_cover-1757513595022.jpg','2025-07-04 09:13:01','2025-09-11 13:58:09');
/*!40000 ALTER TABLE `heroes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mastersis`
--

DROP TABLE IF EXISTS `mastersis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mastersis` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) NOT NULL,
  `author` varchar(255) NOT NULL,
  `year` int NOT NULL,
  `summary` text NOT NULL,
  `type` enum('Master','PFE') NOT NULL,
  `etablissement` varchar(255) NOT NULL,
  `specialite` varchar(255) NOT NULL,
  `encadrant` varchar(255) NOT NULL,
  `membres` text,
  `userId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mastersis_user_id` (`userId`),
  KEY `mastersis_year` (`year`),
  KEY `idx_mastersis_userId` (`userId`),
  CONSTRAINT `mastersis_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mastersis`
--

LOCK TABLES `mastersis` WRITE;
/*!40000 ALTER TABLE `mastersis` DISABLE KEYS */;
INSERT INTO `mastersis` VALUES ('0b9261a7-7009-4a20-9f4f-40497db7791d','Master Tarekkk','Tarek',2025,'R├®sum├® Tarek','Master','FMM','FMMM','test','[\"Tarek\"]',NULL,'2025-07-02 14:16:01','2025-08-25 10:59:42'),('7f2ebb34-c55b-4176-bac6-6cd1b5a62e06','Master/PFEEEE Tarek','Tarek Zaafrane',2025,'Master/PFE description','PFE','FMM','FMMM','test','[\"Jury1\"]',NULL,'2025-07-08 13:03:07','2025-08-25 10:59:53');
/*!40000 ALTER TABLE `mastersis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presentation_content`
--

DROP TABLE IF EXISTS `presentation_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presentation_content` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `sectionName` varchar(255) NOT NULL,
  `contentBlocks` text NOT NULL,
  `directorName` varchar(255) DEFAULT NULL,
  `directorPosition` varchar(255) DEFAULT NULL,
  `directorImage` varchar(255) DEFAULT NULL,
  `counter1Value` int DEFAULT '0',
  `counter1Label` varchar(255) DEFAULT 'Permanents',
  `counter2Value` int DEFAULT '0',
  `counter2Label` varchar(255) DEFAULT 'Articles impact├®s',
  `counter3Value` int DEFAULT '0',
  `counter3Label` varchar(255) DEFAULT 'Articles publi├®s',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sectionName` (`sectionName`),
  UNIQUE KEY `presentation_content_sectionName_unique` (`sectionName`),
  UNIQUE KEY `sectionName_2` (`sectionName`),
  UNIQUE KEY `sectionName_3` (`sectionName`),
  UNIQUE KEY `sectionName_4` (`sectionName`),
  UNIQUE KEY `sectionName_5` (`sectionName`),
  UNIQUE KEY `sectionName_6` (`sectionName`),
  UNIQUE KEY `sectionName_7` (`sectionName`),
  UNIQUE KEY `sectionName_8` (`sectionName`),
  UNIQUE KEY `sectionName_9` (`sectionName`),
  UNIQUE KEY `sectionName_10` (`sectionName`),
  UNIQUE KEY `sectionName_11` (`sectionName`),
  UNIQUE KEY `sectionName_12` (`sectionName`),
  UNIQUE KEY `sectionName_13` (`sectionName`),
  UNIQUE KEY `sectionName_14` (`sectionName`),
  UNIQUE KEY `sectionName_15` (`sectionName`),
  UNIQUE KEY `sectionName_16` (`sectionName`),
  UNIQUE KEY `sectionName_17` (`sectionName`),
  UNIQUE KEY `sectionName_18` (`sectionName`),
  UNIQUE KEY `sectionName_19` (`sectionName`),
  UNIQUE KEY `sectionName_20` (`sectionName`),
  UNIQUE KEY `sectionName_21` (`sectionName`),
  UNIQUE KEY `sectionName_22` (`sectionName`),
  UNIQUE KEY `sectionName_23` (`sectionName`),
  UNIQUE KEY `sectionName_24` (`sectionName`),
  UNIQUE KEY `sectionName_25` (`sectionName`),
  UNIQUE KEY `sectionName_26` (`sectionName`),
  UNIQUE KEY `sectionName_27` (`sectionName`),
  UNIQUE KEY `sectionName_28` (`sectionName`),
  UNIQUE KEY `sectionName_29` (`sectionName`),
  UNIQUE KEY `sectionName_30` (`sectionName`),
  UNIQUE KEY `sectionName_31` (`sectionName`),
  UNIQUE KEY `sectionName_32` (`sectionName`),
  UNIQUE KEY `sectionName_33` (`sectionName`),
  UNIQUE KEY `sectionName_34` (`sectionName`),
  UNIQUE KEY `sectionName_35` (`sectionName`),
  UNIQUE KEY `sectionName_36` (`sectionName`),
  UNIQUE KEY `sectionName_37` (`sectionName`),
  UNIQUE KEY `sectionName_38` (`sectionName`),
  UNIQUE KEY `sectionName_39` (`sectionName`),
  UNIQUE KEY `sectionName_40` (`sectionName`),
  UNIQUE KEY `sectionName_41` (`sectionName`),
  UNIQUE KEY `sectionName_42` (`sectionName`),
  UNIQUE KEY `sectionName_43` (`sectionName`),
  UNIQUE KEY `sectionName_44` (`sectionName`),
  UNIQUE KEY `sectionName_45` (`sectionName`),
  UNIQUE KEY `sectionName_46` (`sectionName`),
  UNIQUE KEY `sectionName_47` (`sectionName`),
  UNIQUE KEY `sectionName_48` (`sectionName`),
  UNIQUE KEY `sectionName_49` (`sectionName`),
  UNIQUE KEY `sectionName_50` (`sectionName`),
  UNIQUE KEY `sectionName_51` (`sectionName`),
  UNIQUE KEY `sectionName_52` (`sectionName`),
  UNIQUE KEY `sectionName_53` (`sectionName`),
  UNIQUE KEY `sectionName_54` (`sectionName`),
  UNIQUE KEY `sectionName_55` (`sectionName`),
  UNIQUE KEY `sectionName_56` (`sectionName`),
  UNIQUE KEY `sectionName_57` (`sectionName`),
  UNIQUE KEY `sectionName_58` (`sectionName`),
  UNIQUE KEY `sectionName_59` (`sectionName`),
  UNIQUE KEY `sectionName_60` (`sectionName`),
  UNIQUE KEY `sectionName_61` (`sectionName`),
  UNIQUE KEY `sectionName_62` (`sectionName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presentation_content`
--

LOCK TABLES `presentation_content` WRITE;
/*!40000 ALTER TABLE `presentation_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `presentation_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `publications`
--

DROP TABLE IF EXISTS `publications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `publications` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) NOT NULL,
  `authors` text NOT NULL,
  `journal` varchar(255) DEFAULT NULL,
  `year` int NOT NULL,
  `volume` varchar(255) DEFAULT NULL,
  `pages` varchar(255) DEFAULT NULL,
  `doi` varchar(255) DEFAULT NULL,
  `userId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `doi` (`doi`),
  UNIQUE KEY `publications_doi_unique` (`doi`),
  UNIQUE KEY `doi_2` (`doi`),
  UNIQUE KEY `doi_3` (`doi`),
  UNIQUE KEY `doi_4` (`doi`),
  UNIQUE KEY `doi_5` (`doi`),
  UNIQUE KEY `doi_6` (`doi`),
  UNIQUE KEY `doi_7` (`doi`),
  UNIQUE KEY `doi_8` (`doi`),
  UNIQUE KEY `doi_9` (`doi`),
  UNIQUE KEY `doi_10` (`doi`),
  UNIQUE KEY `doi_11` (`doi`),
  UNIQUE KEY `doi_12` (`doi`),
  UNIQUE KEY `doi_13` (`doi`),
  UNIQUE KEY `doi_14` (`doi`),
  UNIQUE KEY `doi_15` (`doi`),
  UNIQUE KEY `doi_16` (`doi`),
  UNIQUE KEY `doi_17` (`doi`),
  UNIQUE KEY `doi_18` (`doi`),
  UNIQUE KEY `doi_19` (`doi`),
  UNIQUE KEY `doi_20` (`doi`),
  UNIQUE KEY `doi_21` (`doi`),
  UNIQUE KEY `doi_22` (`doi`),
  UNIQUE KEY `doi_23` (`doi`),
  UNIQUE KEY `doi_24` (`doi`),
  UNIQUE KEY `doi_25` (`doi`),
  UNIQUE KEY `doi_26` (`doi`),
  UNIQUE KEY `doi_27` (`doi`),
  UNIQUE KEY `doi_28` (`doi`),
  UNIQUE KEY `doi_29` (`doi`),
  UNIQUE KEY `doi_30` (`doi`),
  UNIQUE KEY `doi_31` (`doi`),
  UNIQUE KEY `doi_32` (`doi`),
  UNIQUE KEY `doi_33` (`doi`),
  UNIQUE KEY `doi_34` (`doi`),
  UNIQUE KEY `doi_35` (`doi`),
  UNIQUE KEY `doi_36` (`doi`),
  UNIQUE KEY `doi_37` (`doi`),
  UNIQUE KEY `doi_38` (`doi`),
  UNIQUE KEY `doi_39` (`doi`),
  UNIQUE KEY `doi_40` (`doi`),
  UNIQUE KEY `doi_41` (`doi`),
  UNIQUE KEY `doi_42` (`doi`),
  UNIQUE KEY `doi_43` (`doi`),
  UNIQUE KEY `doi_44` (`doi`),
  UNIQUE KEY `doi_45` (`doi`),
  UNIQUE KEY `doi_46` (`doi`),
  UNIQUE KEY `doi_47` (`doi`),
  UNIQUE KEY `doi_48` (`doi`),
  UNIQUE KEY `doi_49` (`doi`),
  UNIQUE KEY `doi_50` (`doi`),
  UNIQUE KEY `doi_51` (`doi`),
  UNIQUE KEY `doi_52` (`doi`),
  UNIQUE KEY `doi_53` (`doi`),
  UNIQUE KEY `doi_54` (`doi`),
  UNIQUE KEY `doi_55` (`doi`),
  UNIQUE KEY `doi_56` (`doi`),
  UNIQUE KEY `doi_57` (`doi`),
  UNIQUE KEY `doi_58` (`doi`),
  UNIQUE KEY `doi_59` (`doi`),
  UNIQUE KEY `doi_60` (`doi`),
  KEY `publications_user_id` (`userId`),
  KEY `publications_year` (`year`),
  CONSTRAINT `publications_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publications`
--

LOCK TABLES `publications` WRITE;
/*!40000 ALTER TABLE `publications` DISABLE KEYS */;
INSERT INTO `publications` VALUES ('1c61fa26-590a-48e1-8ef6-f9706af7dcb7','Test Publication','[\"Tarek Zaafrane\",\"Tarek\"]','Journal Lab-tim',2025,'47','548','10.1038/s41586-020-2649-2',NULL,'2025-07-16 14:03:06','2025-09-11 12:51:42'),('bf065214-f9b0-4bee-91c8-84ee9afeb76e','Publication Tarekkk','[\"Tarek Zaafrane\",\"Tarekk\"]','Journal Labtim',2024,'7845','87','45897',NULL,'2025-09-10 14:10:17','2025-09-10 14:10:17');
/*!40000 ALTER TABLE `publications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theses`
--

DROP TABLE IF EXISTS `theses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theses` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `title` varchar(255) NOT NULL,
  `author` varchar(255) NOT NULL,
  `year` int NOT NULL,
  `summary` text NOT NULL,
  `type` enum('HDR','These') NOT NULL,
  `etablissement` varchar(255) NOT NULL,
  `specialite` varchar(255) NOT NULL,
  `encadrant` varchar(255) NOT NULL,
  `membres` text,
  `userId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `theses_user_id` (`userId`),
  KEY `theses_year` (`year`),
  CONSTRAINT `theses_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theses`
--

LOCK TABLES `theses` WRITE;
/*!40000 ALTER TABLE `theses` DISABLE KEYS */;
INSERT INTO `theses` VALUES ('3969acd3-1ed2-4393-9a5c-09a8d0bc33be','HDR Tarek','Tarek Zaafrane',2025,'Th├¿se Tarek','HDR','FMM','FMMM','Tarek','[\"Jury1\",\"Jury2\"]',NULL,'2025-07-08 12:49:26','2025-08-25 10:56:43'),('f976d673-331f-4c02-8a59-4d08f260d79f','These Tarek','Tarek',2025,'R├®sum├® these','These','FMM','FMMM','Tarek','[\"Tarek\"]',NULL,'2025-07-02 14:15:23','2025-09-11 12:52:04');
/*!40000 ALTER TABLE `theses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','member') DEFAULT 'member',
  `name` varchar(255) DEFAULT NULL,
  `position` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `orcid` varchar(255) DEFAULT NULL,
  `biography` text,
  `expertises` text,
  `researchInterests` text,
  `universityEducation` text,
  `mustChangePassword` tinyint(1) NOT NULL DEFAULT '1',
  `expirationDate` date DEFAULT NULL,
  `isArchived` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `resetPasswordToken` varchar(255) DEFAULT NULL,
  `resetPasswordExpire` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_orcid_unique` (`orcid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-11 14:26:47
